infra-data/
server/
REFERENCE-ONLY/
.DS_Store
node_modules/
vendor/
.env
.env.*

# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Application Data & Logs
data/
log/
logs/
dbs/
*.log
*.db
*.sqlite
badger_data/
.!*!*
*.swp
*.swo
