go 1.26.3

use (
	./abuse-store
	./claims-provider
	./common-services
	./content-prober
	./content-transcoder
	./external-proxy
	./image-transformer
	./lazymap
	./magnet2torrent
	./rest-api
	./s3-gateway
	./srt2vtt
	./torrent-archiver
	./torrent-http-proxy
	./torrent-store
	./torrent-web-seeder
	./torrent-web-seeder-cleaner
	./url-store
	./vault
	./video-info
	./video-thumbnails-generator
	./web-ui
)

replace github.com/anacrolix/torrent => github.com/webtor-io/torrent v0.0.0-20260503123952-6864bc1a2649
