[Unit]
Description=Octor Custom Zero-Leak S3 Gateway
After=network.target octor-rclone-mount.service
Requires=octor-rclone-mount.service

[Service]
Type=simple
User=__RUN_USER__
Group=__RUN_GROUP__
WorkingDirectory=__PROJECT_ROOT__/s3-gateway
EnvironmentFile=__PROJECT_ROOT__/custom.env
ExecStart=__PROJECT_ROOT__/bin/s3-gateway
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
